body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
